<div class="marginContent">
  <mat-card>
    <form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100" fxFlex.gt-sm="100"
      [formGroup]="quizForm" (ngSubmit)="onQuizFormSubmit(quizForm.value)">
      <mat-card-header>
        <mat-card-title>
          <h2>EDITAR DETALHES DO QUIZ</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-form-field fxFlex>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Título">
        <mat-error *ngIf="quizForm.controls.title.errors?.required" autocomplete="off">Título é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Escolha uma categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="quizForm.controls.language.hasError('required')">Por favor escolha um idioma</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Escolha um idioma</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language.name">
            {{language.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="quizForm.controls.language.hasError('required')">Por favor escolha um idioma</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Duration</mat-label>
        <input matInput formControlName="duration" placeholder="Minutos">
        <mat-error *ngIf="quizForm.controls.duration.errors?.required">Duração é requirida</mat-error>
        <mat-error *ngIf="quizForm.controls.duration.errors?.pattern">Use apenas números</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <textarea matInput formControlName="description" placeholder="Descrição" rows="5"></textarea>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Inserir data</mat-label>
        <input matInput formControlName="insertDate">
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Contagem de testes</mat-label>
        <input matInput formControlName="examCount">
      </mat-form-field>

      <mat-checkbox formControlName="status">PUBLICAR</mat-checkbox>

      <mat-card-actions>
        <button mat-raised-button color="primary">SALVAR ALTERAÇÕES</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
